body {
    background-color: linen;
    font-family: helvetica, sans-serif;
    
}

h1 {
    display: flex;
    justify-content: flex-start;
    padding-left:  30px;
    padding-top: 40px;
    padding-bottom:30px;
    font-size: 36px;
    color: #56382E;
    border: solid 5px #8A624A;
    border-radius: 15px;
}

/*Styling for Navbar*/

nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}

nav a {
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    color:#56382E;
    border-bottom: solid #8A624A 8px;
}
/* This is a pseudo-class for links */
a:hover {
   color: #56382E;
   box-shadow: 0px 0px 20px 0px rgb(51, 51, 43);
   border-top: solid #8A624A 6px;
   border-right: solid #8A624A 3px;
   border-left:solid #8A624A 3px ;
   
}
.header-img { /*HALP unable to insert image stored on local machine*/
    position: relative;    
    width: 100%;
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1580933073521-dc49ac0d4e6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2069&q=80");
}

.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(250, 246, 240);
    font-size: 24px;
}
aside {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 20%;
    background-color: bisque;
    padding-left: 25px;
    border-right: solid #8A624A 8px;
}

.h3 {
    color: #56382E;
    font-size: 35px;
}

.footer-img  {
    width: 100%;
    height: 150px;
    background-image: url("https://images.unsplash.com/photo-1635799944379-7c20f383d352?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2071&q=80");
}

footer {
    padding-top:20px;
    display: flex;
    justify-content: center;
    color: #56382E;

}
