body {
    display: flex;
    flex-direction: column;
    background-color: linen;
    font-family: helvetica, sans-serif;
    
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: darkslategrey;
    padding: 1%;
    margin: 0;
}
h1 {
    font-size: 180%;
}

nav ul {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
   
}
nav a {
    text-decoration: none;
}
/*
#header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

h1 {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    font-size: 36px;
    color: #56382E;
   
    }

Styling for Navbar*/
/*
nav {
    justify-self: flex-end; 
    background-color: bisque;
}

nav a {
    display:flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    color:#56382E;
    border-bottom: solid #8A624A 8px;
}
 This is a pseudo-class for links 
a:hover {
   color: #56382E;
   box-shadow: 0px 0px 20px 0px rgb(51, 51, 43);
   border-top: solid #8A624A 6px;
   border-right: solid #8A624A 3px;
   border-left:solid #8A624A 3px ;
   
}
   */

#h2 { 
    width: 100%;
    height: 300px;
    background-image: url("C:/Users/mklaw/Desktop/Dream-Candidate-Portfolio/assets/images/CoffeeBeans.jpg");
}
.h2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    font-size: 30px;  
    background-color: #56382E; 
}

/* img:hover{
    opacity: 1.0;
} */

aside {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 20%;
    background-color: bisque;
    padding-left: 25px;
    border-right: solid #8A624A 8px;
}

.h3 {
    color: #56382E;
    font-size: 35px;

}

footer {
    padding-top:20px;
    display: flex;
    justify-content: center;
    color: #56382E;

}
