* {
    margin:0
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    font-family: helvetica, sans-serif;
    
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(29, 46, 46);
}
h1 {
    font-size: 36px;
    background-color: rgb(164, 203, 204);
    color: darkslategray;
    padding-left: 60px;
}

nav ul {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
    }

nav a { /*TODO : style with breaks between the links*/
    text-decoration: none;
    color: rgb(164, 203, 204);
    font-size: 20px;
    border-bottom: rgb(164, 203, 204) solid 5px;
    padding: 15px;
}
/* pseudo class for hover effect */
a:hover {
    color: rgb(29, 46, 46);
    box-shadow: 0px 0px 20px 0px white;
    border: solid rgb(164, 203, 204) 5px;
    
    background-color:rgb(164, 203, 204);
}




.h3 {
    color: #56382E;
    font-size: 35px;

}

footer {
    padding-top:20px;
    display: flex;
    justify-content: center;
    color: #56382E;

}
